@{
    ViewBag.Title = "Filmes DB";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-film"></span> Filmes DB</h1>
    <p class="lead">Filmes DB é uma aplicação web contruida durante o aprendizado de ASP.NET MVC 5 utilizando Entity Framework 6 e Visual Studio 2013.</p>
    <p><a href="https://github.com/danielmiola/Filmes-DB.git" class="btn btn-primary btn-large">Código completo da aplicação</a></p>
</div>