@model WebApplication.Models.Generos

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Gêneros</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Gênero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt><hr /></dt>
        <dd></dd>

        <dt>
            Filmes
        </dt>

        <dd>
            @foreach (var item in Model.Filmes)
            {
                @Html.ActionLink(item.Titulo, "/../Filmes/Details", new { id = item.FilmeID })
                <br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.GeneroID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
